## What are the key features of Apache Spark
1. Unified Analytics Engine: Spark provides a unified platform for various data processing tasks, including batch processing, streaming, interactive queries, and machine learning.

2.Speed: Spark achieves high performance through in-memory processing and optimized execution.

3.Ease of Use: Spark offers user-friendly APIs in multiple languages, including Python, Java, Scala, and R.

4.Versatility: Spark can process data from various sources, including Hadoop Distributed File System (HDFS), cloud storage (e.g., Amazon S3), and databases.

5.Fault Tolerance: Spark's Resilient Distributed Datasets (RDDs) and DataFrame abstractions provide fault tolerance by automatically recovering from failures.

6.Scalability: Spark can scale from small datasets on a single machine to large datasets on a cluster of thousands of machines.

7.Rich Ecosystem: Spark has a rich ecosystem of libraries, including:

Spark SQL: For structured data processing.

Spark Streaming: For real-time data processing.

MLlib: For machine learning.

GraphX: For graph processing.

### Explain Sparkâ€™s architecture

Apache Spark Architecture: Spark's architecture is designed to be fast and flexible. It has a layered architecture with several key components:

1.Driver Node: The driver is the main process that controls the application. It's responsible for:
Maintaining the state of the application.
Creating the SparkContext.
Distributing the application code to the executors.
Submitting tasks to the executors.

2.Cluster Manager: Spark relies on a cluster manager to allocate resources across the worker nodes. Spark supports various cluster managers, including:

Spark's Standalone Cluster Manager: A simple cluster manager that comes with Spark.
Hadoop YARN: The resource management layer in Hadoop.
Apache Mesos: A cluster manager that can run various frameworks.
Kubernetes: A container orchestration platform.

3.Worker Nodes: Worker nodes are the machines in the cluster that run the actual tasks. Each worker node has one or more executors.

4.Executors: Executors are processes that run on worker nodes and are responsible for:

Executing the tasks assigned to them by the driver.
Storing data in memory (cache).
Returning results to the driver.

In [1]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Spark_Assessment").getOrCreate()

25/04/22 11:08:50 WARN Utils: Your hostname, Thabisos-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 10.5.5.170 instead (on interface en0)
25/04/22 11:08:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/22 11:08:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/04/22 11:08:57 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
from pyspark import SparkContext 
sc = SparkContext.getOrCreate()
even_num = [2,4,6,8,10,12]
rdd = sc.parallelize(even_num)

In [28]:
from pyspark.sql.functions import col, struct
("Peter", 40, {"id": 3, "name": "Agent Brown", "office": "HQ", "code": 9012})
]

In [33]:
data = [({"id": 1},"John Doe","Engineering",75000), 
         ({"id": 2},"Jane Smith","Marketing",60000),
         ({"id": 3},"Bob Johnson","Engineering",80000),
         ({"id": 4},"Alice Williams","Sales",50000),
         ({"id": 5},"Tom Brown","Marketing",65000)]
columns = ["agent_id","name","department","salary"]

 # Create a DataFrame
agents_data = spark.createDataFrame(data, schema=columns)

In [37]:
# Show CSV file 
agents_data.show()

+---------+--------------+-----------+------+
| agent_id|          name| department|salary|
+---------+--------------+-----------+------+
|{id -> 1}|      John Doe|Engineering| 75000|
|{id -> 2}|    Jane Smith|  Marketing| 60000|
|{id -> 3}|   Bob Johnson|Engineering| 80000|
|{id -> 4}|Alice Williams|      Sales| 50000|
|{id -> 5}|     Tom Brown|  Marketing| 65000|
+---------+--------------+-----------+------+

In [41]:
# Calculate the average salary for each department and filter
from pyspark.sql.functions import col, avg
dept_avg_salary = agents_data.groupBy("department").agg(avg(col("salary")).alias("avg_salary"))
dept_avg_salary.show()

[Stage 14:=============================>                            (4 + 4) / 8]

+-----------+----------+
| department|avg_salary|
+-----------+----------+
|Engineering|   77500.0|
|  Marketing|   62500.0|
|      Sales|   50000.0|
+-----------+----------+

In [42]:
dept_avg_salary.write.csv("/Users/thabisomakhathini/Downloads/dept_avg_salary.csv",mode="overwrite")

In [68]:
path = "/Users/thabisomakhathini/Downloads/cars (3).csv"
cars = spark.read.csv(path,schema=None, sep=',', quote='"', escape='\\', header=True,
               inferSchema=False, nullValue=None, encoding=None, comment=None,
               mode='PERMISSIVE')
cars.show(5)

+------+---------+--------------------+--------+----------+----------+-----------+----------+--------------+---------+---------+--------+---------+----------+----------+--------------+----------+----------+---------+------+----------------+----------+-------+-------+----------+-----+
|car_ID|symboling|             CarName|fueltype|aspiration|doornumber|    carbody|drivewheel|enginelocation|wheelbase|carlength|carwidth|carheight|curbweight|enginetype|cylindernumber|enginesize|fuelsystem|boreratio|stroke|compressionratio|horsepower|peakrpm|citympg|highwaympg|price|
+------+---------+--------------------+--------+----------+----------+-----------+----------+--------------+---------+---------+--------+---------+----------+----------+--------------+----------+----------+---------+------+----------------+----------+-------+-------+----------+-----+
|     1|        3|  alfa-romero giulia|     gas|       std|       two|convertible|       rwd|         front|     88.6|    168.8|    64.1|     48.8|      2548|      dohc|          four|       130|      mpfi|     3.47|  2.68|               9|       111|   5000|     21|        27|13495|
|     2|        3| alfa-romero stelvio|     gas|       std|       two|convertible|       rwd|         front|     88.6|    168.8|    64.1|     48.8|      2548|      dohc|          four|       130|      mpfi|     3.47|  2.68|               9|       111|   5000|     21|        27|16500|
|     3|        1|alfa-romero Quadr...|     gas|       std|       two|  hatchback|       rwd|         front|     94.5|    171.2|    65.5|     52.4|      2823|      ohcv|           six|       152|      mpfi|     2.68|  3.47|               9|       154|   5000|     19|        26|16500|
|     4|        2|         audi 100 ls|     gas|       std|      four|      sedan|       fwd|         front|     99.8|    176.6|    66.2|     54.3|      2337|       ohc|          four|       109|      mpfi|     3.19|   3.4|              10|       102|   5500|     24|        30|13950|
|     5|        2|          audi 100ls|     gas|       std|      four|      sedan|       4wd|         front|     99.4|    176.6|    66.4|     54.3|      2824|       ohc|          five|       136|      mpfi|     3.19|   3.4|               8|       115|   5500|     18|        22|17450|
+------+---------+--------------------+--------+----------+----------+-----------+----------+--------------+---------+---------+--------+---------+----------+----------+--------------+----------+----------+---------+------+----------------+----------+-------+-------+----------+-----+
only showing top 5 rows

In [69]:
cars.count()

205

In [70]:
car_price_filter = cars.filter(col("Price")>11000)

In [75]:
car_avg_value_by_fueltype = cars.groupBy("fueltype").agg(avg(col("price")).alias("average_price"))
car_avg_value_by_fueltype.show()

+--------+-------------+
|fueltype|average_price|
+--------+-------------+
|     gas|   12999.7982|
|  diesel|     15838.15|
+--------+-------------+